.page-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". miner-1 ." ". miner-2 ." ". miner-3 ."
}

.page-main__miner-1 {
  grid-area: miner-1;
  margin: 0 auto;
  text-align: center;
}

.page-main__miner-2 {
  grid-area: miner-2;
  margin: 0 auto;
  text-align: center;
}

.page-main__miner-3 {
  grid-area: miner-3;
  margin: 0 auto;
  text-align: center;
}
