.page-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". miner-1 .";
}

.page-main__miner-1 {
  grid-area: miner-1;
  margin: 0 auto;
  text-align: center;
}
